      <article>
        <a href="/post/{{id}}" class="blog-post-title">{{title}}</a>
        <p class="blog-post-meta">
          <span class="post-date">{{format_date created_at }}</span>
          |
          <span class="username"> {{user.username}}</span>
          |
          <a href="/post/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length}}</a>
        </p>
        <p class="blog-post-text">{{post_content}}</p>
      </article>
      {{>comments post.comments}}